<form ng-controller="UserController" ng-submit="submitBtn()" class="clearfix home-page">

    <div class="col-md-4 data">
        <h4 class="brandtext">Brand</h4>
        <div class="radio" id="radio" ng-repeat = "items in products" ng-click="itemlist(items)"    ng-model="item_quantity" ng-init="(selectedProduct.item_id == items._id) ? itemlist(items) : console.log('NoteSelected')" ng-model="rdo">
            <label><input type="radio" ng-checked="(selectedProduct.item_id == items._id)" name="rdoResult">{{items.itemname}}</label>
        </div>
    </div>

    <div class="col-md-8 form">   
      
        Enter Brand Names:
        <input type="text" name="item_name" ng-model="item_ItemName" ng-change="clearPrice()" autocomplete="off" />
        <button type="submit" id="viewPrice" ng-click="singleItemPrice()">View Price</button>
      
        <br/><br/>
        Entered Brand Price: <strong>{{item_itemprice}}</strong><span ng-show="validateItem"></span>
        <br/><br/>

        Avialable Sizes: <strong> {{item_sizes}} </strong>

        <br/><br/>
        Enter Quantity before showing total Price
        <input type="text" name="item_qty" ng-model="productData.qty" ng-init="productData.qty=selectedProduct.item_qty" autocomplete="off" />
    
        <br><br>
        <div class="message">{{message}}</div> 
        <button type="submit" id="totalprice" ng-click="calculateTotalPrice()">Get Total Price</button>
        <button type="reset" id="cleardata" ng-click="clearValues()">Clear</button>

        <br/><br/>
        Item Name: <strong>{{item_ItemName}}</strong> <span ng-show="validateItem">( Item is not in list.)</span>
        <br/>
        <h5 id="list">Total Price: <strong>{{totalPrice}}</strong></h5>
        <br/>

    </div>   
</form>